{% extends 'comedor/base/basecomedor.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<html>
<body>
    <script src="{% static '/Web/js/script.js' %}"></script>

    <!-- Navbar (Menu de navegacion) -->   
      <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
		
            <div class="logo"><a href="">Hostal Don <span>Pepe</span></a></div>
            <ul class="menu">   
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="menu-btn">Cerrar sesión</a></li>
                <li><a href="#">{{ user.username }}</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'menuadmin' %}" class="menu-btn">Menu de gestión</a></li>
                {% endif %}
                {% else %} 
             
                
                {% endif%}
                <li><a href="{% url 'home' %}" class="menu-btn">Inicio</a></li>   
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
        <!-- Navbar (Menu de navegacion) -->   
    <!-- inicio -->
    <section class="inicio" id="inicio">
        <div class="max-width">
            <div class="inicio-content">
                <div class="text-1">Bienvenidos a: </div>
                <div class="text-2">Hostal Don Pepe</div>
                <div class="text-3">¿ No tienes cuenta ? Registrate aqui </div>
            </div>
        </div>
    </section>
</div>
<section class="servicios" id="servicios">
    <div class="max-width">
        <h2 class="title">Registro de usuario</h2>
        <div class="serv-content">
    </div>
                    <div class="col-12 col-md-6 offset-md-3">
                            
                        <div class="card">
                            <div class="card-body" enctype="multipart/form-data">
                                <form action="" method="post">

                                    {% csrf_token %}

                                    {{ form | crispy }}

                                    <div class="d-flex jusitify-content-center">
                                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                                        &nbsp;
                                        <input type="submit" value="Registrar" class="btn btn-primary">
                                    </div>
                                
                                </form>
                            </div>
                        </div>
                   </div>
                   {% if messages %}
                   {% for m in messages %}
                     <script>
                         Swal.fire({
                             "titlle":"Felicitaciones",
                             "text":"{{m}}",
                             "icon":"success"
                         })
                     </script>
                   {% endfor %}
                 {% endif%}
{% endblock %}